[init]
  defaultBranch = main
[user]
  signingkey = key::sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAILrzJBmE4MaWzXBTPKOSttGtp8SJoiDY6WC4VDvuxG/7AAAABHNzaDo= sean@archon11-01 (yubikey green)
	email = sean@seankleinjung.com
	name = Sean Kleinjung
[push]
  autoSetupRemote = true
[gpg]
  format = ssh
[commit]
  gpgsign = false
[tag]
  gpgsign = false

[includeIf "gitdir:**/twd/**"]
  path = ./.gitconfig.d/twin-digital.inc
